{% extends "base.html" %}
{% load static %}
{% block title %} Задачи {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "problems/css/index.css" %}">
{% endblock %}

{% block problems %}

    <div class="problems-info">
        <div class="problems-container">
            <h1 class="problems-page-title">Задачи</h1>
            <div class="problems-list">
                {% include "problems/problems_list.html" %}
            </div>
        </div>
        <div class="filters-container">
            <h1 class="problems-filter-title">Фильтры</h1>
            <form method="post" class="filters" action="">
                {% for category in categories %}
                    {% csrf_token %}
                    <div class="category">
                        <input type="checkbox" class="category-checkbox" id={{ category.pk }} name="categories"
                               value={{ category.pk }}>
                        <label for=name="categories">{{ category.title }}</label>
                    </div>
                {% endfor %}
                <button class="submit-button" type="submit">Применить</button>
            </form>
        </div>
    </div>
{% endblock %}