.problem-title {
    display: flex;
    justify-content: center;
}

.problem-info {
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.problem-text {
    padding: 20px 30px 20px 30px;
}

.problem-answer {
    padding-left: 30px;
    padding-bottom: 20px;
}

.submit-button {
    padding: 5px;
    margin: 5px 10px 10px 10px;
    font-weight: bold;
    border: none;
    background-color: lightblue;
    cursor: pointer;
}

.answer-label {
    font-weight: bold;
    margin-bottom: 0;
}
