.auth-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.auth-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.login-form, .password-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

td {
    margin-bottom: 5px;
}

.login-button {
    padding: 5px;
    margin: 0 40px 20px 50px;
    font-weight: bold;
    border: none;
    background-color: lightblue;
    cursor: pointer;
}