{% extends "base.html" %}
{% load static %}
{% block title %} Профиль {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "registration/login.css" %}">
{% endblock %}

{% block content %}

{% if form.errors %}
  <p>Неверный логин или пароль</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="auth-form">
{% csrf_token %}
<table class="auth-table">

<tr class="login-form">
  <td>Логин:</td>
  <td>{{ form.username }}</td>
</tr>

<tr class="password-form">
  <td>Пароль:</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" class="login-button"/>
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}