{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "problems/css/base.css" %}">
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});

    </script>

    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    <div class="logo-wrap">
        <h1 class="logo"><a class="logo-ref" href="{% url "problems" %}">MathPro</a></h1>
    </div>
    <nav class="nav-bar">
        <a class="nav-button" href="{% url "problems" %}">Задачи</a>
        <a class="nav-button" href="#">Соревнования</a>
        <a class="nav-button" href="#">Новости</a>
    </nav>

    <div class="profile-bar">
        <a href="#" class="notifications">
            <img src="{% static "problems/img/notification-bell.svg" %}" alt="notifications" height="27" width="30">
        </a>
        {% if user.is_authenticated %}
            <a href="{% url "profile" %}" class="profile">
                <img src="{% static "problems/img/profile-avatar.svg" %}" alt="profile" height="30" width="30">
            </a>
        {% else %}
            <a href="{% url "login" %}" class="profile">
                <img src="{% static "problems/img/profile-avatar.svg" %}" alt="profile" height="30" width="30">
            </a>
        {% endif %}

    </div>
</header>

<div class="content">
    {% block problems %}{% endblock %}
    {% block content %}{% endblock %}
</div>

</body>
</html>